<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:label="MinimaxOpenSDKDemo"
        android:networkSecurityConfig="@xml/network_security_config_test"
        android:theme="@style/CommonTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning,UnusedAttribute"
        tools:replace="android:label">

        <activity
            android:name="com.minimax.opensdk_demo.MainActivity"
            android:exported="true">

            <intent-filter>

                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>
    </application>

</manifest>